In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [13]:
csv_file = "CSV/Migration_Map_Data.csv"
migration_df = pd.read_csv(csv_file, dtype ={"Birth_Country":"str"})
migration_df.head()

,Birth_Country,Age_0-5,Age_6-10,Age_11-15,Age_16-20,Age_20+,9th_Grade,12th_Grade,HS_Dropout,HS_Grad,...,Cleaning_and_maint,Other_services,Sales,Administrative,Farming_&_fishing,Construction,Manufacturing,Transportation,Military,Unemployed
0,US,NaN,NaN,NaN,NaN,NaN,"4,380,278","11,086,857","587,488","51,286,386",...,"4,183,259","8,377,235","17,391,363","19,613,568","916,886","7,269,547","11,784,060","12,504,870","556,905","1,317,281"
1,Mexico,"928,523","775,875","1,485,420","2,238,925","5,753,368","3,557,555","1,818,941","26,761","2,619,905",...,"787,212","216,708","494,685","482,108","473,083","1,316,937","1,001,810","851,937","6,356","68,478"
2,EastandSoutheastAsia,"1,500,243","946,080","926,337","941,610","4,334,258","761,904","471,609","3,533","1,341,724",...,"146,691","388,236","525,913","559,092","15,351","87,448","465,487","297,208","10,277","39,188"
3,CentralAsia,"38,881","21,083","20,612","17,039","34,239","2,938","2,164",NaN,"16,565",...,"2,776","5,757","7,961","7,078",0,"4,097","5,342","11,118",83,509
4,SouthAsia,"1,148,791","589,390","446,589","470,990","1,013,222","162,268","146,226","2,590","287,480",...,"27,050","62,512","273,505","157,368","3,970","18,523","92,958","149,425","1,178","24,066"

In [25]:
migration_df.iloc[:,1:].astype('int32').dtypes

ValueError: cannot convert float NaN to integer